<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Ionic Menu Starter</h3>
  <h4>{{shakeThePhone}}</h4>
  <h4>Device orientation: {{heading}}</h4>
  <ul>
    <h4>Battery</h4>
    <li>
      <p>Battery status: {{batterystatus}}</p>
    </li>
    <li>
      <p>Battery plugged: {{batteryplugged}}</p>
    </li>
  </ul>
  <ul>
    <h4>Gyroscope:</h4>
    <li>
      <p>Orientation x: {{orientationX}}</p>
    </li>
    <li>
      <p>Orientation y: {{orientationY}}</p>
    </li>
    <li>
      <p>Orientation z: {{orientationZ}}</p>
    </li>
    <li>
      <p>Timestamp: {{gyroscopeTimestamp}}</p>
    </li>
  </ul>

  <p>
    If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will show you the way.
  </p>

  <button ion-button secondary menuToggle>Toggle Menu</button>
  <button ion-button secondary on-tap="showNotif()">Show notification</button>
</ion-content>
