@keyframes anim {
    from {left: 0;}
    to {left: 100%;}
}
.scroll-content {
    overflow-y: hidden;
}
.counter {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 0;
    bottom: 0;
    border: 1px solid red
}

.list-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.good {
    background: green;
    color: white;
}

.medium {
    background: orange;
    color: white;
}

.bad {
    background: red;
    color: white;
}

.visualization {
    width: 100vw;
    height: 40px;
    border: 1px solid black;
    position: relative;
    margin-left: -16px;
}

.line {
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    background:red;
}

.line.dynamic {
    animation-name: anim;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.line.static {
    left: calc(50% - 1px)
}