<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
            <ion-title>Testing</ion-title>
        </button>
    </ion-navbar>
</ion-header>
 
<ion-content padding>
    <div class="counter">
        {{counter}}
    </div>
    <h4>DB Meter: {{decibels}}</h4>
    <button ion-button on-tap="startCounter()">Start</button>
    <button ion-button on-tap="stopCounter()">Stop</button>
    <button ion-button on-tap="resetCounter()">Reset</button>
    <button ion-button on-tap="tap()">Tap</button>
    <div class="visualization">
        <span class="line static"></span>
        <span class="line" [ngClass]="animated ? 'dynamic' : ''"></span>
    </div>
    <div class="list-container">
        <ion-list>
            <h5>Counter:</h5>
            <p *ngFor="let item of data, let i = index" [ngClass]="item.class">
                counter: {{item.counter}}, tap: {{item.tap}}, diff: {{item.diff}}
            </p> 
        </ion-list>
    </div>
</ion-content>